* {
  box-sizing : border-box;
}
body{
  margin : 0;
}
nav{
  height : 80px;
  display : flex;
  padding : 0px;
  box-shadow:  0px 2.98256px 7.4564px rgba(0,0,0,0.1);
  background-color: rgb(224, 160, 160);
}
.nav--logo{
  max-width: 100px;
}
.card{
  display : flex;
  margin : 30px;

}
.card-content{
  margin : 20px;
  padding : 10px;
}
.card-image{
  width: 200px;
  height: 200px;
}